SECRET_KEY=stringst

# Database configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=db_name

# API Configuration
POKEAPI_BASE_URL=https://pokeapi.co/api/v2/pokemon